<div class="row align-middle align-center full-height">
  <div class="medium-10 medium-offset-1">
    <div class="boxy row align-middle">
      <div class="small-6 columns bg-img">&nbsp;</div>
      <div class="small-6 columns">
        <h1>Quiz #1</h1>
        <p>Justin is an aspiring full-stack developer coding web apps with <%= link_to 'The Firehose Project', 'http://www.thefirehoseproject.com/' %>.</p>
        <p>This is an example app displaying a static page built with Ruby on Rails. You can follow my coding journey on my <%= link_to 'blog', 'http://justinmunn.co/blog' %></p>
      </div>
    </div>
  </div>
</div>